language = "nodejs"
run = "PORT=3000 npm run setup && PORT=3000 npm start"
entrypoint = "server.js"

[nix]
channel = "stable-22_11"

[env]
PORT = "3000"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"